@import "tailwindcss";


* {
  box-sizing: border-box;
}

:root {
  --accent: #1F3A8A;
  --accent-secondary: #3B82F6;
  --type-dark: #2E2A39;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: "Cairo", sans-serif;
  scroll-behavior: smooth;
}

body {
  @apply bg-gray-100;
}

button {
  cursor: pointer;
}

/* Custom Utils Classes */
.sectionlayout {
  max-width: 1640px;
  margin: auto;
  padding: 0 2rem;
}

@media (max-width: 1023px) {
  .sectionlayout {
    padding: 0 1rem;
  }
}

@media (max-width: 767px) {
  .sectionlayout {
    padding: 0 1rem;
  }
}